/* Write your code here. */
* {
  box-sizing: border-box;
  margin: 0px;
}
.boxes-bg-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
.heading {
  color: #0f172a;
  font-family: "Roboto";
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.message {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 24px;
}
.boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.small-box {
  background-color: #fbbf24;
  min-width: 100px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  margin: 10px;
}
.medium-box {
  background-color: #38bdf8;
  min-width: 150px;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 0px;
  margin: 10px;
}
.large-box {
  background-color: #ec4899;
  min-width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-width: 10px;
  margin: 5px;
}
@media screen and (min-width: 768px) {
  .boxes-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}
